**/*.o
fare
lude
curre
proba
valida
daemonium
coniunge
specta
fac_certificatum
certificatum.ison
clavis_daemoni.ison
libmunda.a
nativus_dieta_1526.bin
nativus_dieta_1526.lex
nativus_exercita
proba_nativus
